apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      containers:
        - name: nodeapp
          image: ghcr.io/staocube88/nodewithdb:8a682fb
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: APP_VERSION
              value: "1.0"
            - name: MONGO_URI
              value: "mongodb://mongodb:27017/funWithDocker"
            - name: DB_HOST
              value: "mongodb" # This must match the Service name
            - name: DB_PORT
              value: "27017"
            - name: DB_NAME
              value: "funWithDocker"
          volumeMounts:
            - name: logs-volume
              mountPath: /var/www/logs
      volumes:
        - name: logs-volume
          emptyDir: {} # In-memory volume for logs
